.start-game-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 30rem;
  margin-top: 50px;
  width: min(450px, 90vw);
}

.start-game-form button {
  max-width: inherit;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
